# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native build files
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios/Pods
/ios/Podfile.lock

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*

# OS files
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath

# Local env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Generated platforms
/ios
/android

# Build artifacts
build-archive/
dist/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
